<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASyZM_HZQWszsfL8om_0-DDMZiQHs-l9k</string>
	<key>GCM_SENDER_ID</key>
	<string>51382657466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginAuth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>loginauth-262df</string>
	<key>STORAGE_BUCKET</key>
	<string>loginauth-262df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51382657466:ios:230a866262c8b339663d83</string>
</dict>
</plist>